<ion-content>
  
  <div class="totvs-login-title-boasVindas">
    Boas vindas!
  </div>
  <div class="totvs-login-title-ao-Meu-Analytics" >
    ao Meu Analytics
  </div>
  
  


  <!-- Form -->
  <form [formGroup]="login">
    <div>
				<ion-label hidden>Alias</ion-label>
        <ion-select #alias [compareWith]="aliasCompareFn" [value]="vlrDefaultAlias">
					<ion-select-option *ngFor="let a of aliases" [value]="a">{{ a.label }}</ion-select-option>
        </ion-select>
      <ion-item>
        <ion-icon name="person-outline"></ion-icon>
        <ion-input
          #user
          #input
          clearInput
          class="totvs-login-input"
          formControlName="user"
          placeholder="{{ 'LOGIN.USERNAME' | translate }}"
          (keyup)="processKeyUp($event, password)"
          (input)="input.value=$event.target.value.toLowerCase()" >
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-input
          #password
          clearInput
          formControlName="password"
          type="password"
          placeholder="{{ 'LOGIN.PASSWORD' | translate }}"
          clearOnEdit="false"
          (keyup)="processKeyUpLogin($event, user.value,password.value, alias.value)">
        </ion-input>
      </ion-item>
    </div>
  </form>

  <div>
    <ion-item>
      <ion-toggle slot="end" [(ngModel)]="rememberMe" (ionChange)="rememberUser(rememberMe)"></ion-toggle>
      <ion-label >{{ 'LOGIN.REMEMBER_ME' | translate }}</ion-label>
    </ion-item>
  </div>

    <ion-button expand="block" id="loginButton" [disabled]="!login.valid"  type="submit"  (click)="doLogin(user.value, password.value, alias.value)">
      {{ 'LOGIN.LOGIN' | translate }}
    </ion-button>
  
    <div><ion-label class="label-senha">
      Esqueceu sua senha?
    </ion-label>
  </div>
  <div>
    <ion-icon src="../../assets/totvs-logo.svg" class="icon-totvs"></ion-icon>
  </div>
  
</ion-content>
