.clsCMP {
  height: 300px;
}

ion-card-content{
  margin: 0 !important;
  padding: 0 !important;
}

ion-card-header{
  margin: 0 !important;
  padding: 0 !important;
}

.titleCard{
  padding-left: 10px;
  height: 20px;
  color: black;
}