<ion-header>
  <ion-toolbar>
    <ion-title>ANALYTICS</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>  
    <ion-row class="ion-text-center">
      <ion-col>
        <img class="imageGrafic" src="../../assets/img/main_logo.png">
      </ion-col>
    </ion-row>
    
    <ion-row class="ion-text-center">
      <ion-col>
        <div class="welcome">
          {{'WELCOME.Welcome' |translate}}<br>
          {{'WELCOME.SmartAnalytics'| translate}}<br>
          {{'WELCOME.Mobile'|translate}}
        </div>
      </ion-col>              
    </ion-row>
    
    <ion-row class="ion-text-center">
      <div class="description">
        {{'WELCOME.Description'|translate}}<br>
        {{'WELCOME.DescriptionDetail'|translate}}<br>
        <br>
        {{'WELCOME.AreYouReady'|translate}}
      </div>
    </ion-row>
    
    <ion-row class="ion-text-center">
      <ion-col>
        <div class="section action">
          <ion-button fill="clear" (click)="goToConfig()">
            {{'WELCOME.ActionButton'|translate}}
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
  




<!-- <ion-grid>
  <ion-row class="ion-align-items-center">
    <ion-col size="5" class="ion-text-center">
      <ion-item lines="none" id="projectTitle">
        <ion-input placeholder="Project Title"></ion-input>
      </ion-item>
    </ion-col>    
  </ion-row>

  <ion-row class="ion-align-items-center">
    <ion-col class="ion-text-center">
      <ion-button fill="clear">
        <span>maybe later</span>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid> -->